
<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Edit drink</div>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Name</label>
                            <input type="text" v-model="drink.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Drink type</label>
                            <select v-model="drink.drink_type" class="form-control">
                            <option value="Tea" :selected="drink.drink_type == 'Tea' ? true : false">Tea</option>
                            <option value="Coffee" :selected="drink.drink_type == 'Coffee' ? true : false">Coffee</option>
                            <option value="Water" :selected="drink.drink_type == 'Water' ? true : false">Water</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Sugar Qty.</label>
                            <select v-model="drink.sugar" class="form-control">
                            <option value="0" :selected="drink.sugar == '0' ? true : false">No Sugar</option>
                            <option value="1" :selected="drink.sugar == '1' ? true : false">1 Spoon</option>
                            <option value="2" :selected="drink.sugar == '2' ? true : false">2 Spoons</option>
                            <option value="3" :selected="drink.sugar == '3' ? true : false">3 Spoons</option>
                            <option value="4" :selected="drink.sugar == '4' ? true : false">4 Spoons</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Milk</label><br />
                            <input type="radio" name="milk" value=1 v-model="drink.milk" :checked="drink.milk == '1' ? true : false">Yes</input>
                            <input type="radio" name="milk" value=0 v-model="drink.milk" :checked="drink.milk == '0' ? true : false">No</input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            let app = this;
            let id = app.$route.params.id;
            app.drinkId = id;
            axios.get('/api/v1/drinks/' + id)
                .then(function (resp) {
                    app.drink = resp.data;
                })
                .catch(function () {
                    alert("Could not load your drink")
                });
        },
        data: function () {
            return {
                drinkId: null,
                drink: {
                    name: '',
                    address: '',
                    website: '',
                    email: '',
                }
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newDrink = app.drink;
                axios.patch('/api/v1/drinks/' + app.drinkId, newDrink)
                    .then(function (resp) {
                        app.$router.replace('/');
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your drink");
                    });
            }
        }
    }
</script>
