
<template>
    <div>
        <div class="form-group">
            <router-link to="/" class="btn btn-default">Back</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Create new drink</div>
            <div class="panel-body">
                <form v-on:submit="saveForm()">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Name</label>
                            <input type="text" v-model="drink.name" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Drink type</label>
                            <select v-model="drink.drink_type" class="form-control"><option value="Tea">Tea</option><option value="Coffee">Coffee</option><option value="Water">Water</option></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Sugar Qty.</label>
                            <select v-model="drink.sugar" class="form-control"><option value="0">No Sugar</option><option value="1">1 Spoon</option><option value="2">2 Spoons</option><option value="3">3 Spoons</option><option value="4">4 Spoons</option></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label class="control-label">Milk</label><br />
                            <input type="radio" name="milk" value=1 v-model="drink.milk">Yes</input>
                            <input type="radio" name="milk" value=0 v-model="drink.milk">No</input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <button class="btn btn-success">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                drink: {
                    name: '',
                    drink_type: '',
                    sugar: '',
                    milk: '',
                }
            }
        },
        methods: {
            saveForm() {
                var app = this;
                var newDrink = app.drink;
                axios.post('/api/v1/drinks', newDrink)
                    .then(function (resp) {
                        app.$router.push({path: '/'});
                    })
                    .catch(function (resp) {
                        console.log(resp);
                        alert("Could not create your drink");
                    });
            }
        }
    }
</script>
