<template>
    <div>
        <div class="form-group">
            <router-link :to="{name: 'createDrink'}" class="btn btn-success">Create new drink</router-link>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Drinks list</div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Drink Type</th>
                        <th>Sugar Qty.</th>
                        <th>Milk</th>
                        <th width="120">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="drink, index in drinks">
                        <td>{{ drink.name }}</td>
                        <td>{{ drink.drink_type }}</td>
                        <td>{{ drink.sugar ? drink.sugar+' Spoon' : 'No Sugar' }}</td>
                        <td>{{ drink.milk ? 'Yes' : 'No' }}</td>
                        <td>
                            <router-link :to="{name: 'editDrink', params: {id: drink.id}}" class="btn btn-xs btn-default">
                                Edit
                            </router-link>
                            <a href="#"
                               class="btn btn-xs btn-danger"
                               v-on:click="deleteEntry(drink.id, index)">
                                Delete
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                drinks: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/drinks')
                .then(function (resp) {
                    app.drinks = resp.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load drinks");
                });
        },
        methods: {
            deleteEntry(id, index) {
                if (confirm("Do you really want to delete it?")) {
                    var app = this;
                    axios.delete('/api/v1/drinks/' + id)
                        .then(function (resp) {
                            app.drinks.splice(index, 1);
                        })
                        .catch(function (resp) {
                            alert("Could not delete drink");
                        });
                }
            }
        }
    }
</script>
